@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;500;700&display=swap');
/* Reset CSS  */
* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
-webkit-text-size-adjust:none;  }
html {font-size: 18px;}
body {font-family:'Roboto', sans-serif; font-size:18px; color:#fff;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video {border:0; vertical-align:top; }
a, a:link {color:#333;text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active {color:#333;text-decoration:none; }
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
label { cursor:pointer; }
.blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
i,em,address { font-style:normal; font-weight:normal; }
p,li,dd{ line-height:1.5em}
.hidden, #skipNav{display: block; position: absolute; left:-1000%; top:0; width: 1px; height: 1px;
    overflow: hidden; color: #fff;}


/* 와이드pc 1280~ */

/* 헤더 공통 영역 */
#wrap{width:100%; overflow: hidden}
#headerArea{position:fixed; z-index: 30; height: 80px;
    left:0; top: 0; background: rgba(0, 0, 0, 0);
    width: 100%; transition: all .5s;
}	
#headerArea	.headerInner{width: 90%; margin: 0 5%; overflow: hidden}
#headerArea h1{ float: left; margin: 15px 0}
#headerArea h1 a{
    display: block; text-decoration: none; width: 135px; height: 50px;
    text-indent: -999px; overflow: hidden;
    transition: all .5s;
    background: url(../images/logo_white.png) no-repeat;
    background-size: cover;
}
#headerArea h1:hover a {
    background: url(../images/logo.png) no-repeat;
    background-size: cover;
}

#headerArea.on {background: rgba(0, 65, 101, .8);}
#headerArea.on h1 a{background: url(../images/logo.png) no-repeat; background-size: cover;}

#headerArea #gnb{float: right;margin-top: 25px}
#headerArea #gnb ul{overflow: hidden;}
#headerArea #gnb ul li{
    float: left; margin-left: 40px; height: 50px;
    margin: 15px 0 15px 40px;
}
#headerArea #gnb ul li a{color: #fff; text-decoration: none; transition: all .5s;}
#headerArea #gnb ul li:hover a {color: #004165;}
h3 {font-family: 'Pacifico', cursive;}
#headerArea #gnb ul li a::before {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    /* background: linear-gradient(to right,#F18101, #FF9419, #F18101); */
    transition: all 0.3s ease;
}
#headerArea #gnb ul li:hover a::before {
    width: 100%;
    left: 0;
}
#headerArea #gnb ul li a.current {
    color: #fbc834;
}
#headerArea #gnb ul li a.current::before {
    width: 100%;
    left: 0;
}

#headerArea .menu_open {
    position: absolute;
    right: 0;
    top: 10px;
    display: none;
}
#headerArea .menu_open span {
    width: 32px;
    height: 2px;
    background: #fff;
    position: relative;
    text-indent: -9999px;
    display: block;
    margin: 28.5px 20px;
    border-radius: 5px;
    transition: all .3s;
}














/* 푸터 공통 영역 */

#footerArea .footerInner {
    position: relative;
    height: 200px;
    background: rgba(0, 65, 101, .9);    
}
#footerArea .footerInner img {
    display: block; position: relative;
    top: 25px; 
    left: 50%; transform: translateX(-50%);
    /* left: 25px; float: left; */
    
}
#footerArea .footerInner .sns {    
    display: flex;
    position: relative;
    margin: 50px 0 0;
    left: 50%; 
    transform: translateX(-50%);
    width: 185px;
    column-gap: 5px;
}
#footerArea .footerInner .sns li {width: 25%;}
#footerArea .footerInner .sns li a {
    color: #fbc834; font-size: 1.3rem;
    display: block; width: 40px; height: 40px; border-radius: 20px;
    background: #004165; text-align: center; transition: all .5s;
}
#footerArea .footerInner .sns li a:hover {background: #fbc834; color: #004165;}
#footerArea .footerInner .sns li a i {line-height: 40px;}






/* 일반 pc */
@media screen and (max-width:1280px) {
	
}

/* 테블릿 */
@media screen and (max-width:1043px) {
    #headerArea .headerInner {
        width: 100%;
        margin: 0;
    }
    #headerArea h1 {
        position: relative;
        left: 50%;
        margin-left: -65px;
    }
    #headerArea #gnb {
        width: 100%;
        margin: 0;
        background: rgba(0, 0, 0, .8);
        padding: 24px 0 32px;
        display: none;
    }
    #headerArea #gnb ul li {
        float: none;
        margin-right: 0;
        text-align: center;
    }
    #headerArea #gnb ul li a {
        font-size: 1.667rem;
        padding: 24px 0;
    }

    /* mobile header>open submenu */
    #headerArea .menu_open {
        display: block;
        float: right;
        height: 60px;
        position: relative;
        border-radius: 5px;
        z-index: 110;
        transition: all .5s;
    }
    #headerArea .menu_open span {
        width: 32px;
        height: 2px;
        background: #fff;
        position: relative;
        text-indent: -9999px;
        display: block;
        margin: 28.5px 20px;
        border-radius: 5px;
        transition: all .3s;
    }
    #headerArea .menu_open span::before {
        content: '';
        display: block;
        width: 32px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: -9.5px;
        left: 0;
        border-radius: 5px;
        transition: all .3s;
    }
    #headerArea .menu_open span::after {
        content: '';
        display: block;
        width: 32px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 9.5px;
        left: 0;
        border-radius: 5px;
        transition: all .3s;
    }
    #headerArea.mn_open {
        background: rgba(0, 0, 0, .8);
    }
    #headerArea.mn_open h1 a {
        background: url(../images/logo.png)no-repeat;
        background-size: cover;
    }
    #headerArea.mn_open .menu_open span {
        background: rgba(0, 0, 0, 0);
    }
    #headerArea.mn_open .menu_open span::before {
        transform: rotate(45deg);
        top: 0;
    }
    #headerArea.mn_open .menu_open span::after {
        transform: rotate(-45deg);
        top: 0;
    }
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
	
}

/* 모바일 */
@media screen and (max-width:640px) {
    html {
        font-size: 16px;
    }
    #headerArea {
        height: 80px;
    }
    #headerArea h1 a {
        width: 135px;
        height: 50px;
    }
}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
	#wrap { min-width:320px; }
}
