/* 와이드 pc  */

	
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}
#videoBG {
   position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100; /*다른요소보다 아래에 위치*/
  
}

#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
   display:none
}


	



.more {
   display: inline-block; background: #fbc834;
   width: 170px; height: 50px; line-height: 45px;
   text-align: center; position: relative;
   border-radius: 25px; font-size: 1.4rem;
   box-sizing: border-box; border: 2px solid #fbc834;
   font-family: 'Pacifico', cursive;
   transition: all .5s;
}
.more>span {color: #004165;}

.more:hover {
   background: #004165; color: #fbc834;
}
.more:hover>span {color: #fbc834;}

#content{
   width: auto; background:rgba(0, 0, 0, .7);
   padding-bottom: 120px;
   /* height:4900px;    */
}

section {
   width: auto;
   padding: 120px 72px 0;
   position: relative;
   overflow: hidden;
}

#content h3 {
   font-family: 'Pacifico', cursive; color: #fbc834; font-size: 2rem;
}


      .about .grid {
         display: grid;
         gap: 1rem;
         grid-template-columns: repeat(2, 1fr);
      }

      .about .grid>div {
         grid-area: 1/1;
      }
      .about .grid>div>div {height: 430px;}

      .about .topic_area {   
         margin-bottom: 1rem; position: relative;
      }
      .about .topic_area p {margin: 3rem 0;}


      .about ul {
         display: grid;
         gap: 1rem;
      }

      .about ul li {
         width: auto;
         height: 430px;
         overflow: hidden;
         position: relative;
         border-radius: 97% 3% 97% 3% / 3% 97% 3% 97%;
         border: 5px solid #fbc834;
      }
      .about ul li:nth-of-type(odd) {border-radius: 3% 97% 3% 97% / 97% 3% 97% 3%;}

      .about3 {
         background: url(../images/about3.png) center;
         background-repeat: no-repeat;
         background-size: cover;
         position: relative;
         border: 5px solid #fbc834;
         border-radius: 97% 3% 97% 3% / 3% 97% 3% 97%;
         overflow: hidden;
      }

      .about ul li:nth-child(1) {
         background: url(../images/about1.png)center;
         background-repeat: no-repeat;
         background-size: cover;
      }

      .about ul li:nth-child(2) {
         background: url(../images/about2.png)center;
         background-repeat: no-repeat;
         background-size: cover;
      }

      .about ul li:nth-child(3) {
         background: url(../images/about4.png)center;
         background-repeat: no-repeat;
         background-size: cover;
         grid-area: 2/1;
      }

      .about ul li:nth-child(4) {
         background: url(../images/about5.png)center;
         background-repeat: no-repeat;
         background-size: cover;
         grid-area: 2/2;
      }


      .about dl {
         padding: 1.5rem;
         position: absolute;
         top: 300px;
         transition: all .5s;
         height: 100%;
         width: 100%;
      }

      .about li:hover dl,
      .about3:hover dl {
         top: 0;
         background: rgba(0, 0, 0, .5);
      }

      .about dt {
         font-family: 'Pacifico', cursive;   
         color: #fff;
      }

      .about dt span {
         display: block;
         font-family: 'roboto', sans-serif;
         font-weight: 400;
         font-size: 0.778rem;
         opacity: .5;
         margin-bottom: 4px;
      }

      .about dd {
         opacity: 0;
         padding-right: 3rem;
      }

      .about li:hover dd,
      .about3:hover dd {
         opacity: 1;
      }

      .about dd:last-child {
         margin-top: 16px;
      }




.activity {
   text-align: center;
}
.activity h3 {
   margin-bottom: 2rem;
}
.activity .textarea {
   position: absolute;
   left: 50%;
   margin-left: -16.665%;
   width: 33.33%;
   z-index: 10;
}
.activity .textarea p {
   margin: 0 2rem 2rem;
}


.activity .grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
   position: relative;
   align-items: end;
}

.activity .area1 li,
.activity .area3 li {
   width: auto;
   height: 510px;
   overflow: hidden;
   border-radius: 8px;
   position: relative;
   border-radius: 97% 3% 97% 3% / 3% 97% 3% 97%;
   border: 5px solid #004165;
}
.activity .area1 li:nth-of-type(even) {border-radius: 3% 97% 3% 97% / 97% 3% 97% 3%;}
.activity .area3 li:nth-of-type(odd) {border-radius: 3% 97% 3% 97% / 97% 3% 97% 3%;}

.activity .area1 li:last-of-type,
.activity .area3 li:last-of-type {height: 450px;}

.activity li:hover,
.activity .area2:hover {
   filter: grayscale(100%);
}

.activity .area1 li:first-of-type {
   background: url(../images/activity1.png);
   background-size: cover;
   background-repeat: no-repeat;
   margin-bottom: 1rem;
}

.activity .area1 li:last-of-type {
   background: url(../images/activity3.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.activity .area2 {
   width: auto;
   height: 510px;
   border-radius: 4px;
   background: url(../images/activity4.png)no-repeat center;
   background-size: cover;
   margin-top: 64px;
   transition: all .5s;
   overflow: hidden;
   position: relative;
   border-radius: 97% 3% 97% 3% / 3% 97% 3% 97%;
   border: 5px solid #004165;
}

.activity .area2::before,
.activity .area1 li::before,
.activity .area3 li::before {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.3);
   content: '';
   z-index: 10;
   transition: transform 0.6s;
   transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

.activity .area2:hover::before,
.activity .area1 li:hover::before,
.activity .area3 li:hover::before {
   transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

.activity .area2:hover dd::before {
   content: '';
   display: block;
   width: 10px;
   height: 2px;
   background: rgba(241, 129, 1, 1);
   position: relative;
}

.activity .area3 li:first-of-type {
   background: url(../images/activity2.png)no-repeat center;
   background-size: cover;
   margin-bottom: 1rem;
}

.activity .area3 li:last-of-type {
   background: url(../images/activity5.png)no-repeat center;
   background-size: cover;
}

.activity dl {
   padding: 0 32px;
   text-align: left;
   position: relative;
   top: 330px;
   transition: all .5s;
}

.activity li:hover dl {
   top: 110px;
}

.activity dl dt {
   font-weight: 700;
   font-size: 1.111rem;
   color: rgba(255, 255, 255, 1);
}

.activity dl dt span {
   display: block;
   font-size: 0.889rem;
   margin-top: 16px;
   color: rgba(255, 255, 255, 1);
}

.activity dl dd {
   color: #fff;
   margin-top: 24px;
   opacity: 0;
   line-height: 1.5em;
}

.activity li:hover dd {
   opacity: 1;
}

.activity li:hover dd::before {
   content: '';
   display: block;
   width: 10px;
   height: 2px;
   background: rgba(241, 129, 1, 1);
   position: relative;
}

.activity .area2:hover dd {
   opacity: 1;
}

.activity .area2 dl {
   top: 340px;
}

.activity .area2:hover dl {
   top: 140px;
}


   #content .visit {
      margin-top: 120px;
      height: auto;
      background: url(../images/centerbar.png)no-repeat fixed center;
      background-size: cover;
      padding: 50px 72px;
   }

   #content .visit h3 {
      color: #fff;
      font-family: 'roboto',sans-serif;
   }

   #content .visit p {
      margin-top: 2rem;
   }

#content .place {padding-bottom: 120px;}
#content .place h3 {text-align: center;}

.place .place_main {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 4rem;
   margin: 3rem 0 0;
}

.place .place_main .place_large {
   background-image: url(../images/place1.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 532px;
}

.place .place_main .place_text  {position: relative;}
.place .place_main .place_text dl dt {
   font-size: 1.3rem;
   font-weight: 500;
   margin: 3rem 0;
}
.place .place_main .place_text dl dd {
   text-align: justify;   
}
.place .more {
   display: block;
   margin: 3rem 0;   
}



.place .place_list {
   display: flex;  
   flex-direction: row;
   justify-content: space-between;
   column-gap: 2rem;
   margin: 2rem 0 0;
   /* gap: 3rem; */

}
.place .place_list li {
   width: 25%;
   height: 250px;   
   position: relative;
}
.place .place_list li a {
   display: block;width: 100%; height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.place .place_list li:nth-of-type(1) a {background-image: url(../images/place1.png);}
.place .place_list li:nth-of-type(2) a {background-image: url(../images/place2.png);}
.place .place_list li:nth-of-type(3) a {background-image: url(../images/place3.png);}
.place .place_list li:nth-of-type(4) a {background-image: url(../images/place4.png);}
.place .place_list li span {
   position: absolute; display: block;
   text-align: center; bottom: -70px; left: 50%;
   font-size: 1.5rem;
   font-family: 'Pacifico', cursive;
   transform:translateX(-50%) translateY(-50%);
}


.gallery {padding: 60px 72px 0; position: relative;}
.gallery h3 {text-align: center;}
.gallery p {text-align: center; margin: 3rem 0 0;} 
.gallery ul {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 1rem;
   align-items: center;
   position: relative;
   padding: 80px 0 0;
}
.gallery ul:nth-of-type(2) {padding: 1rem 0 80px;}
@keyframes gallery {   

   0% {
      transform: rotate(0);
   }
   25% {
      transform: rotate(2deg);
   }
   75% {
      transform: rotate(-2deg);
   }
   100% {
      transform: rotate(0);
   }
}
.gallery ul li {
   overflow: hidden;
   box-sizing: border-box;
   border-radius: 2% 98% 2% 98% / 98% 2% 98% 2%;
   border: 3px solid #fbc834;
   transition: all .5s;
   transform: rotate(0deg);
   position: relative;
}
.gallery ul li:nth-of-type(even) {
   top: 2rem; border-radius: 98% 2% 98% 2% / 2% 98% 2% 98%;
}
.gallery ul li:hover {
   animation: gallery 1s infinite;
}
.gallery ul li img {width: 100%;}
.gallery .more {position: relative; left: 50%; transform: translateX(-50%);}















/* 일반 pc */
@media screen and (max-width:1280px) {
	.about ul li:nth-of-type(2) {display: none;}
	.about ul li:nth-of-type(4) {display: none;}

   .activity .area1 li:nth-of-type(2) {display: none;}
   .activity .area3 li:nth-of-type(2) {display: none;}

   .activity .textarea {
      position: relative;
      left: 0; 
      margin: 0;
      width: 100%;
   }

   .place .place_list li {
      width: 33.33%;
   }
   .place .place_list li:nth-of-type(4) {display: none;}

   .gallery ul {grid-template-columns: repeat(3,1fr);}
   .gallery ul li:last-of-type {display: none;}

}


/* 테블릿 */
@media screen and (max-width:1024px) {
	.about ul {display: none;}
   .about .grid {grid-template-columns: 1fr;}
   .about .grid div .topic_area h3,
   .about .grid div .topic_area p {text-align: center;}
   
   .about .grid>div .topic_area a {
      left: 50%; transform: translateX(-50%);
   }
   .about dl {top: 250px; padding-left: 50px;}
   .about dl dt {font-size: 2rem;}
   .about dl dt span{font-size: 1.5rem;}

   .activity .area1 li:nth-of-type(1) {display: none;}
   .activity .area3 li:nth-of-type(1) {display: none;}
   .activity .grid {grid-template-columns: 1fr;}
   
   .activity dl {padding-left: 50px;}
   .activity dl dt {font-size: 2rem;}
   .activity dl dt span{font-size: 1.5rem;}

   
   .place .place_main .place_large {height: 400px;}
   .place .place_main .place_text dl dt {margin: 1.5rem 0;}
   .place_text dl dd p:nth-of-type(2) {display: none;}
   .place .place_list li {
      width: 50%;
   }   
   .place .place_list li:nth-of-type(3) {display: none;}

   .gallery ul {grid-template-columns: repeat(2,1fr);}
   .gallery ul li:nth-of-type(2) {display: none;}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
	section {
      padding: 100px 40px 0;
   }
   .gallery {padding: 60px 40px 0;}

   #content .visit {
      background: url(../images/centerbar2.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }






}

/* 모바일 */
@media screen and (max-width:640px) {
	section {
      padding: 60px 20px 0;
   }
   
   .activity .textarea p {margin: 0 .4rem 2rem;}
   
   #content .visit {
      padding: 1rem;
   }
   #content .place {padding-bottom: 0;}
   .place .place_main {grid-template-columns: 1fr;}
   .place .place_list {display: none;}

   .gallery {padding: 50px 1rem 0;}
   .gallery ul {grid-template-columns: 1fr;}
   .gallery ul li:nth-of-type(1) {display: none;}
   
}



