/* .text{position: fixed; right:0; top: 0; font-size: 50px; z-index: 100} */

/* 비주얼 영역 */
.main {
    width: 2000px; height: 960px; 
    position: relative; left: 50%; top: 0; margin-left: -1000px;
    overflow: hidden;
}

    .gallery{
        position:relative;left:0; top:0; overflow:hidden; width:2000px; height:960px;
    }
    .gallery li{display:none; position: relative;}

    .gallery img{animation: ani 15s linear infinite;}
    @keyframes ani {
        from {transform: scale(1.2);}
        to {transform: scale(1.0);}
    }

    @keyframes intro{
        from{transform:translateY(50px); opacity: 0;}
        to{transform:translateY(0); opacity: 1;}
    }
    .gallery li .intro{
        position:absolute; left: 500px; top: 55%;  margin-top:-7%; color: #fff; line-height: 2;
    }
    .gallery li .intro strong{
        display:block; font-size:3.4375rem; opacity: 0;
        animation:intro 1.5s ease-out; animation-delay: .5s; animation-fill-mode: forwards;
    }
    .gallery li .intro span{
        display: block; font-size:1.25rem; margin:10px 0 0; opacity: 0;
        animation:intro 1.5s ease-out; animation-delay: .8s; animation-fill-mode: forwards;
    }
    

    .dock{width:600px; position:absolute; left:600px; bottom:200px;}

    .dock .mbutton{ 
        margin-right:15px; cursor:pointer; 
        display:block; float:left; width:100px; height:4px;
        background: #c8c8c8;
        transition: all .5s
    }
    
    .dock .mbutton{
        position:relative; margin-right:8px; 
        background:rgba(255,255,255,.2); overflow: hidden; transition: width .5s;}
    
    .dock .mbutton::after{content:''; display:block; width: 0; height: 100%; background:rgba(255,255,255,1);}
    .dock .mbutton.on::after{width: 100%; transition:width 7s;}
    
    

    .dock .ps{
        margin:-10px 15px 0 0; cursor: pointer;
        display: block; float: left; width: 24px; height: 24px;
        background:url(../images/stop.png) 50% 50% no-repeat;
    }
    .dock .ps.on{background:url(../images/play.png) 50% 50% no-repeat;}

    .main .btn{display: block; width: 80px; height: 80px;
            position: absolute;  top:440px;cursor:pointer;
            transition: all .5s;
    }    
    
    .main .btnLeft{left:0; margin-left: 80px; background: rgba(0,0,0,.1) url(../images/leftarrow.png);}
    .main .btnRight{top:440px ;right:0; margin-right: 80px; background: rgba(0,0,0,.1) url(../images/rightarrow.png);}    
    .main .btnLeft:hover{background: rgba(255,255,255,.1) url(../images/leftarrow.png);}
    .main .btnRight:hover{background: rgba(255,255,255,.1) url(../images/rightarrow.png);}    
    



/* 본문 콘텐츠 영역 */
#content {
    width: 1200px;
    margin: 0 auto;
}
@keyframes intro{
    from{transform:translateY(50px); opacity: 0;}
    to{transform:translateY(0); opacity: 1;}
}
#content section {
    position: relative; transform: translateY(100px); transition: all 1s; opacity: 0;
}
#content section.boxMove{
    top:0; opacity: 1 ; transform: translateY(0);
}

.business {height: 860px;margin: 120px 0 0;}
    .business h3 {text-align: center; font-weight: 700; font-size: 60px;}
    .business p {margin: 80px 0; text-align: center; font-weight: 500; font-size: 1.5em;}
    
    .business ul {overflow: hidden; margin: 52px 0 0;box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, .2);}
    .business li {position: relative;}
    .business img {transform: scale(1); transition: all .2s ease-in-out;}
    .business .fine {float: left; width: 600px; height: 560px;}    
    .business .elec {float: left; width: 600px; height: 560px;}

    .business .fine h4 {color: #fff; font-size: 40px; text-align: center;font-weight: 700;position: absolute; left: 225px; top: 250px;transition: all .2s ease-in-out;}
    .business .fine p {color: #fff; font-size: 1.5em; text-align: center;font-weight: 500;position: absolute; left: 73px; top: 380px; opacity: 0;transition: all .2s ease-in-out;}
    .business .elec h4 {color: #fff; font-size: 40px; text-align: center;font-weight: 700;position: absolute; left: 225px; top: 250px;transition: all .2s ease-in-out;}
    .business .elec p {color: #fff; font-size: 1.5em; text-align: center;font-weight: 500;position: absolute; left: 110px; top: 380px; opacity: 0;transition: all .2s ease-in-out;}
    .business li a {position: absolute; left: 284px; top: 680px; opacity: 0;transition: all .2s ease-in-out;}

    .business li:hover img {transform: scale(1.1); filter: brightness(.7); z-index: 30;}
    .business li:hover h4 {top: 130px;}
    .business li:hover p {top: 270px; opacity: 1;}
    .business li:hover a {top: 480px; opacity: 1;}
    .business li a:hover {transform: rotate(180deg);}
    
    



.infor {    
    width: 2000px;
    height: 1240px;
    margin: 120px 0 0 -1000px;
    background: #f2f2f2; overflow: hidden;
    position: relative; left: 50%;
}
    .infor h3 {
        font-size: 60px; font-weight: 700;
        font-family: 'Roboto',sans-serif; text-align: center; margin:120px 0 80px;
    }
    .infor p {
        font-size: 24px; font-weight: 500;
        text-align: center;
    }
    .infor ul {
        margin: 86px 0 0 -600px;
        padding: 20px 0;
        overflow: hidden;
        position: relative; left: 50%; 
    }
    .infor ul li {
        float: left;
        width: 390px; height: 740px;
        margin: 5px 15px 5px 0;
        margin-right: 15px;
        text-align: center;
        transition: all .2s ease-in-out;
        position: relative;
    }
    .infor ul li:first-child {background: #f0f0f0;}
    .infor ul li:nth-child(2) {background: #edeff3;}
    .infor ul li:last-child {margin-right: 0; background: #e8f0f7;}

    .infor ul li img {
        margin: 80px 0 50px; border-radius: 150px;
        transform: scale(1); transition: all .2s ease-in-out;
    }
    .infor ul li dl {
        position: relative; transition: all .2s ease-in-out; top: 0;
    }
    .infor ul li dl dt {
        font-size: 1.875em; font-weight: 500;
        margin-bottom: 28px;
    }
    .infor ul li dl dd {
        font-size: 1.25em; font-weight: 500;
    }
    .infor ul li a span {
        width: 140px; height: 50px; background-color: #fff;
        position: absolute;  left: 125px; bottom: 0px; font-size: 1.125em; color: #0075c1;
        line-height: 50px; border-radius: 24px; font-weight: 500; opacity: 0;
        transition: all .2s ease-in-out; transition-delay: .2s;
    }
    .infor li:hover {box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, .2);}
    .infor ul li:hover:first-child {background: #0075c1;}
    .infor ul li:hover:nth-child(2) {background: #0075c1;}
    .infor ul li:hover:last-child {margin-right: 0; background: #0075c1;}
    .infor li:hover dl {color: #fff; top: 10px;}
    
    .infor li:hover span {opacity: 1; bottom: 50px;}
    .infor li:hover img {transform: scale(1.1);}

/* @keyframes linkicon{
    from{transform:translateY(50px); opacity:0;}
    to{transform:translateY(0); opacity:1;}
}
.investment.boxMove li{animation:linkicon 1 .5s ease-out; animation-fill-mode: forwards;}
.investment.boxMove li:nth-child(1){animation-delay:0s;}
.investment.boxMove li:nth-child(2){animation-delay:0.5s;}
.investment.boxMove li:nth-child(3){animation-delay:1s;}
.investment.boxMove li:nth-child(4){animation-delay:1.5s;}
.investment.boxMove li:nth-child(5){animation-delay:2s;} */

.investment {
    width: 2000px; position: relative; left: 50%;
    margin: 120px 0 0 -1000px;
    height: 590px;
}
    .investment h3 {
        font-size: 60px; font-weight: 700;text-align: center;
        padding: 50px 0 0;
    }
    .investment p {
        font-size: 1.5em; font-weight: 500;text-align: center;
        margin: 50px 0 60px;
    }
    .investment ul {
        overflow: hidden; 
        position: relative; left: 50%; margin-left: -620px;
        padding: 20px;
    }
    .investment li {
        float: left;
        width: 220px; height: 220px; border-radius: 50px;
        margin: 0 25px 10px 0; text-align: center;
        box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, .1);
        text-align: center; transform: scale(1);
        transition: all .2s ease-in-out;
    }
    .investment li:last-child {margin-right: 0;}
    .investment li img {
        margin: 25px 0 15px; transition: all .2s ease-in-out;
        transform: scale(1);
    }
    .investment li h4 {
        font-size: 1.25em;
        transition: all .2s ease-in-out;
    }
    .investment li:hover {transform: scale(1.1); box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, .2);}
    .investment li:hover h4{color: #0075c1;}
    .investment li:nth-of-type(1):hover img {content: url(../images/invest1blue.png);}
    .investment li:nth-of-type(2):hover img {content: url(../images/invest2blue.png);}
    .investment li:nth-of-type(3):hover img {content: url(../images/invest3blue.png);}
    .investment li:nth-of-type(4):hover img {content: url(../images/invest4blue.png);}
    .investment li:nth-of-type(5):hover img {content: url(../images/invest5blue.png);}


.hr {
    width: 2000px; position: relative; left: 50%;
    height: 600px;
    margin: 120px 0 0 -1000px;
    overflow: hidden;    
}
    .hr img {
        transform: scale(1);
        transition: all .4s ease-in-out;
    }
    .hr p:first-of-type {
        z-index: 10; font-weight: 700;
        font-size: 3em; color: #fff;
        position: absolute; left: 390px; top: 160px;
    }
    .hr p:last-of-type {
        z-index: 10; font-weight: 500;
        font-size: 1.5em; color: #fff;
        position: absolute; left: 390px; bottom: 192px;
    }
    .hr a span{
        display: block;
        position: absolute; right: 490px; bottom: 95px; text-align: center;
        border-radius: 30px;
        padding: 20px 0;
        width: 160px; 
        background: #0075c1; color: #fff;
        font-size: 1.25em;
    }
    .hr:hover img {transform: scale(1.1);}
    .hr:hover a span:hover {
        background: #fff; color: #0075c1;
        
    }



.news {
    width: 2000px; height: 620px;
    position: relative; left: 50%; 
    margin: 120px 0 120px -1000px;
}

    .news h3 {
        font-size: 60px; font-weight: 700; text-align: center;
        padding: 60px 0 0;
    }
    .news p {
        font-size: 1.5em;font-weight: 500; text-align: center;
        padding: 60px 0 70px;
    }
    .news ul {overflow: hidden; padding: 20px 0;}
    .news ul li {
        float: left; text-align: center;
        width: 360px; height: 300px;
        margin: 0 50px 20px 0;
        position: relative;
        border-radius: 50px;
        box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .3);
        overflow: hidden;
    }
    .news ul li:last-of-type {margin-right: 0;}
    
    .news ul li img {
        border-radius: 50px;
        transform: scale(1); transition: all .2s ease-in-out;        
    }

    .news ul li dl {
        position: absolute; background: rgba(0, 0, 0, .6);
        width: 360px; height: 120px;
        left: 0; bottom: 0;
        color: #fff;
        border-radius: 0 0 50px 50px;
        opacity: 0; transition: all .2s ease-in-out;
        
    }
    .news ul li dl dt {
        font-size: 1.125em; font-weight: 500;
        width: 300px; height: 40px; margin: 10px 30px 0 30px; 
        text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
    }
    .news ul li dl dd {
        font-weight: 400;
        width: 200px; height: 50px; margin: 10px 30px 0 30px;       
        text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
    }

    .news ul li span {
        display: block;
        font-weight: 500;
        width: 130px; height: 30px; position: absolute; right: 10px; bottom: 30px;
        color: #fff;
        opacity: 0; transition: all .2s ease-in-out;
    }
    .news a {position: absolute; right: 450px; top: 200px; transform: rotate(0); transition: all .2s ease-in-out;}

    .news ul li:hover img {transform: scale(1.1);}
    .news ul li:hover dl {opacity: 1;}
    .news ul li:hover span {opacity: 1;}

    .news a:hover {transform: rotate(180deg);}


