
.contentArea>ul {margin:120px 0 0; position: relative;}
.contentArea>ul>li {margin: 80px 0 0;}
.contentArea>ul>li h3 {font-size: 2em; color: #0075c1;}
.contentArea>ul>li>p {margin: 40px 0 0 5%; text-align: justify; line-height: 2em;
     font-size: 1.125em; width: 90%;}
.contentArea>ul>li>dl{overflow: hidden; margin: 40px 0 0;}
.contentArea>ul>li>dl>dt{float: left; width: 20%; height: 120px;
    text-align: center; font-size: 1.4em; line-height: 100px; font-weight: 700;}
.contentArea>ul>li>dl>dd{float: left; width: 75%; height: 120px;
    padding: 0 2.5%;}
.contentArea>ul>li>dl>dd>u{display: block; font-size: 1.125em; margin: 0 0 20px 0; 
    font-weight: 500;}
.contentArea>ul>li>dl>dd>p{}

.contentArea img {position: relative; left: 50%; margin:120px 0 120px -565px;}