/* 박막재료 */

.contentArea>ul:nth-of-type(1) {
    margin: 120px 0 0;
    overflow: hidden;
}

.contentArea>ul:nth-of-type(1)>li {
    float: left;
    margin-left: 80px;
    width: 560px; height: 320px;
    
}
.contentArea>ul:nth-of-type(1)>li:first-of-type{margin-left: 0;}
.contentArea>ul:nth-of-type(1)>li:last-of-type{padding: 120px 0;}

.contentArea>ul:nth-of-type(1)>li p {
    font-size: 1.5em;
    margin: 0 0 80px;
    text-align: justify;
}

h4 {
    margin: 120px 0 80px;
    font-size: 2em;
}
.contentArea>p {
    margin: 40px 0 0;
    padding: 40px;
    background: #f8f8f8;
    text-indent: 5%;
}


.character {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 120px;
}
.character tr {
    height: 70px;
}

.character th {
    width: 15%;
    border: 1px solid #ccc;
    background: #f8f8f8;
    border-bottom: 0;
    border-left: 0;
    padding: 10px 30px;
    font-size: 1.125em;
}
.character td {
    width: 15%;
    border: 1px solid #ccc;
    border-left: 0;
    padding: 10px 30px;
    font-size: 1.125em;
    text-align: center;
}
.character th:last-of-type, .character td:last-of-type{border-right: 0;}
.character th:nth-of-type(4), .character td:nth-of-type(4) {width: 20%;}
.character th:nth-of-type(5), .character td:nth-of-type(5) {width: 35%;}


.contact {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 120px;
}
.contact tr {
    height: 70px;
}

.contact th {
    width: 15%;
    border: 1px solid #ccc;
    background: #f8f8f8;
    border-bottom: 0;
    border-left: 0;
    padding: 10px 30px;
    font-size: 1.125em;
}
.contact td {
    width: 15%;
    border: 1px solid #ccc;
    border-left: 0;
    padding: 10px 30px;
    font-size: 1.125em;
    text-align: center;
}
.contact th:last-of-type, .contact td:last-of-type{border-right: 0;}
.contact th:nth-of-type(4), .contact td:nth-of-type(4) {width: 20%;}
.contact th:nth-of-type(5), .contact td:nth-of-type(5) {width: 35%;}
