.gongsi {
    width: 2000px;
    position: relative;
    left: 50%; top: 0;
    margin: 60px 0 0 -1000px;
    padding: 60px 0 120px;
    position: relative;
}
.gongsi::before {
    content: '';
    background: url(../../sub1/images/logobackground.png) no-repeat;
    display: block; width: 1200px; height: 477px;
    position: absolute; right: 100px; top: 320px;
    opacity: .15;
}
.gongsi iframe {    
    position: relative; left: 50%; top: 0; margin-left: -357px;
}