.main {
    background: url(../images/sub1_visual.png) 50% 50% no-repeat;
    background-size: cover;
    width: 100%; height: 200px;
    position: relative;
}
.main h3 {
    position: absolute; left: 50%; top: 50%;
    font-size: 1.7rem; color: #fff; font-weight: 700;
    margin-left: -50px; margin-top: -20px;
}

.sub_menu{
    position:relative; border-bottom:1px solid rgba(0,0,0,0.2); letter-spacing:-0.065rem; z-index:55;
    font-size: 1.1rem;
}
.sub_menu.on span a::after{transform:rotate(180deg);}
.sub_menu::after{content:''; display: block; clear: both;}
.sub_menu span a{display: block; height: 54px; line-height: 54px; padding:0 4.5%;}
.sub_menu span a::after{content:''; position:absolute; right: 4.5%; top:50%; margin-top:-6px; display:block; width:12px; height: 12px; background:url(../images/navi_open.png) 50% 50% no-repeat; background-size:100% auto; transition:transform .3s;}
.sub_menu ul{position:absolute; left:0; top:55px; width: 100%; background:#fff; box-shadow:0 2px 2px rgba(0,0,0,0.2); padding:1rem 0; display: none;}
.sub_menu ul li a{display: block; line-height:40px; color:#666; padding:0 0 0 4.5%;}


/* sub1_1 */
.sub1_gaeyo {
    margin: 0 4%;
}
.sub1_gaeyo > img {
    margin: 2.5rem 0 0; box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 30%); 
}
.sub1_gaeyo > h3 {color: #0075c1; font-size: 1.4rem; font-weight: 700; margin: 1.1rem 0;}
.sub1_gaeyo > p {text-align: justify; line-height: 1.5em; margin: 5px 0; font-size: 1.0245rem;}
.sub1_gaeyo > p:nth-of-type(7) {text-align: right; margin: 10px 0;}
.sub1_gaeyo > p:nth-of-type(8) {text-align: right; font-size: 1.5rem; font-family: '돋움'; font-weight: 700;}

.sub1_vision {padding-bottom: 1rem;}
.sub1_vision > h3 {
    color: #0075c1; font-size: 1.4rem; font-weight: 700; margin: 1.1rem 0 0 4%;

}

.sub1_vision .swiper2 {width: 100%; padding: 40px 0 60px;}
.sub1_vision .swiper-slide{
    background-position: center; background-size: cover; 
    width: 300px; height: 175px;  padding: 0; background: #fff; 
    border-radius: 24px; position: relative;
    box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 30%);
}
.sub1_vision .swiper-slide:nth-of-type(1) {background: url(../images/sub1_vision.png) 50% 50% no-repeat;}
.sub1_vision .swiper-slide:nth-of-type(2) {background: url(../images/sub1_slogun.png) 50% 50% no-repeat;}
.sub1_vision .swiper-slide:nth-of-type(3) {background: url(../images/sub1_corevaluie.png) 50% 50% no-repeat;}
.sub1_vision .swiper-slide:nth-of-type(4) {background: url(../images/sub1_corestrategy.png) 50% 50% no-repeat;}
#wrap .sub1_vision .swiper-slide img {
    display: block; width: 150px; height: 150px; margin: 16px auto; border-radius: 75px;
}
.sub1_vision .swiper-slide p{line-height: 1.5em; text-align: center;}
.sub1_vision .swiper-container-3d .swiper-slide-shadow-left{border-radius: 24px; background-image: linear-gradient(to left,rgba(0,0,0,0.3),rgba(0,0,0,0))}
.sub1_vision .swiper-container-3d .swiper-slide-shadow-right{border-radius: 24px; background-image: linear-gradient(to right,rgba(0,0,0,0.3),rgba(0,0,0,0))}

.sub1_vision .swiper-slide dl {
    position: absolute; left: 10px; bottom: -50px; display: block;
    width: 240px; height: 100px; background: #fff;
    padding: 10px 20px; box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 30%);
}
.sub1_vision .swiper-slide dl dt {color: #0075c1; font-size: 1.035rem;}
.sub1_vision .swiper-slide dl dd:first-of-type {color: #888; font-size: 1rem}

.sub1_vision .swiper-slide dl dd {margin-top: 5px;}
.sub1_vision .swiper-slide .textbox4 dd {margin-top: 0;}

.sub1_vision .swiper-slide .textbox4 dd:last-of-type {
    color: #666; margin-left: 45px;
}
.sub1_vision .swiper-slide .textbox4 dd:last-of-type span {
    margin-right: 10px;
}
/* .sub1_vision .swiper-slide .textbox4 dd:last-of-type span:nth-of-type(1) {color: #0075c1;}
.sub1_vision .swiper-slide .textbox4 dd:last-of-type span:nth-of-type(2) {color: #1285c1;}
.sub1_vision .swiper-slide .textbox4 dd:last-of-type span:nth-of-type(3) {color: #2375c1;}
.sub1_vision .swiper-slide .textbox4 dd:last-of-type span:nth-of-type(4) {color: #3475c1;}
.sub1_vision .swiper-slide .textbox4 dd:last-of-type span:nth-of-type(5) {color: #5675c1;} */



/* sub1_2 */
.map_tab{margin:2.5rem 4% 0; text-align: center;}
.map_tab ul::after{content:''; display: block; clear: both;}
.map_tab ul li{float:left; width: 50%;}
.map_tab ul li a{position:relative; display:block; height: 45px; line-height:45px; border-width:0 1px 1px 0; border-style:solid; border-color:#ccc;}
.map_tab ul li:nth-child(-n + 2) a{border-top-width:1px;}
.map_tab ul li:nth-child(2n + 1) a{border-left-width:1px;}
.map_tab ul li.on a{color:#0075c1;}
.map_tab ul li.on a::after{content:''; position:absolute; left:-1px; top:-1px; display: block; width: 100%; height: 100%; border:1px solid #0075c1; z-index: 2;}

.map_cont{display: none;}
.map_cont .kakaomapapi{width:100%; height: 300px; margin:2rem 0 0;}
.map_cont .info{margin:0 4.5% 0;}
.map_cont .info h3{font-size:1.5rem; font-weight:700; color:#0075c1; padding:1.75rem 0 0;}
.map_cont .info strong{display: block; font-size:1.25rem; margin:2rem 0 0; padding:2rem 0 0; border-top:1px dashed #ddd;}
.map_cont .info dl{margin:1.25rem 0 0;}
.map_cont .info dl::after{content:''; display: block; clear: both;}
.map_cont .info dl dt{float:left; font-weight:700;}
.map_cont .info dl dd{margin-left:5rem;}
.map_cont .info dl dd p i{display:inline-block;  text-align:center; font-style:normal; font-size:0.75rem; border-radius:3px; margin-right:7px; vertical-align:text-bottom;}
.map_cont .info dl dd p .g {color:#87c700;}
.map_cont .info dl dd p .b {color:#386de8;}
.map_cont .info dl dd p .r {color:#fb5852;}
.map_cont .info dl:last-of-type dd p:nth-of-type(2) {color: #999; margin: 0 0 5px 5px; font-size: 0.95em;}





/* sub1_3 */
.tab_box{margin:2.5rem 0 0; text-align: center;}
.tab_box ul::after{content:''; display: block; clear: both;}
.tab_box ul li{float:left; width: 25%;}
.tab_box ul li a{position:relative; display:block; height: 45px; line-height:45px; border-width:1px 0px 1px 1px; border-style:solid; border-color:#ccc;}
.tab_box ul li:last-of-type a {border-right-width: 1px;}
.tab_box ul li.on a{color:#0075c1;}
.tab_box ul li.on a::after{content:''; position:absolute; left:-1px; top:-1px; display: block; width: 100%; height: 100%; border:1px solid #0075c1; z-index: 2;}

#content .history {margin: 2.5rem 0 0;}
#content .history dl {overflow: hidden; margin: 0 4%; padding: 0.7rem 0;}
#content .history dl dt {
    color: #0075c1; font-size: 1.2rem; font-weight: 700; float: left;
    width: 20%;
}
#content .history dl dd {
    float: right; width: 80%;
    padding: 5px 0;
}
#content .history dl dd span {display: block; float: left; width: 10%; color: #999; font-weight: 700;}
#content .history dl dd p {float: left; width: 90%;}
#content .history img {margin: 1rem 0;}




/* sub1_4 */
.tabbox .tab{margin:2.5rem 0 0; text-align: center;}
.tabbox .tab ul::after{content:''; display: block; clear: both;}
.tabbox .tab ul li{float:left; width: 50%;}
.tabbox .tab ul li a{position:relative; display:block; height: 45px; line-height:45px; border-width:1px 0px 1px 1px; border-style:solid; border-color:#ccc;}
.tabbox .tab ul li:last-of-type a {border-right-width: 1px;}
.tabbox .tab ul li.on a{color:#0075c1;}
.tabbox .tab ul li.on a::after{content:''; position:absolute; left:-1px; top:-1px; display: block; width: 100%; height: 100%; border:1px solid #0075c1; z-index: 2;}

.sub4_intro {margin: 2rem 4%;}
.sub4_intro h4 {font-weight: 700; font-size: 1.3rem; margin: 0.8rem 0 1.5rem;}
.sub4_intro > p {text-align: center; font-size: 1rem; margin: 1.2rem 0;}
.sub4_intro dl dt {color: #0075c1; font-weight: 700; font-size: 1rem; margin: 1.5rem 0 1rem;}
.sub4_intro dl dd {text-align: justify;}
.sub4_intro dl dd ul {}
.sub4_intro dl dd li {overflow: hidden; margin: 1rem 0;}
.sub4_intro dl dd li span {display: block; width: 35%; float: left; font-weight: 700;}
.sub4_intro dl dd li p {width: 65%; float: left;}



.sub4_direction {margin: 2.5rem 0 0}
.sub4_direction h4 {font-weight: 700; font-size: 1.3rem; margin: 0.8rem 4%;}
.sub4_direction > p:nth-of-type(1) {text-align: center; font-size: 0.9rem; margin: 1.5rem 4%;}
.sub4_direction > p {text-align: center; font-size: 1rem; margin: 1.2rem 4% 1.5rem;}

.sub4_direction .swiper-container {width: 100%; height: 450px; margin: 0 auto; padding: 1.5rem 0;}
.sub4_direction .swiper-slide {}
.sub4_direction .swiper-slide dl {
    width: 260px; height: 370px; margin: 0 auto; padding: 30px 10px;
    box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 30%); border-radius: 20px;
}
.sub4_direction .swiper-slide dl dt {width: 100%; height: 45px; line-height: 45px; border-bottom: 1px solid #ccc; font-size: 1.3rem; text-align: center;}
.sub4_direction .swiper-slide dl dd {
    margin: 0.7rem 30px; font-size: 1rem; text-indent: -10px; margin-left: 40px;
}
.sub4_direction .swiper-slide dl dd:first-of-type {margin-top: 2rem;}