.main {
    background: url(../images/sub4_visual.png) 50% 50% no-repeat;
    background-size: cover;
    width: 100%; height: 200px;
    position: relative;
}
.main h3 {
    position: absolute; left: 50%; top: 50%;
    font-size: 1.7rem; color: #fff; font-weight: 700;
    margin-left: -50px; margin-top: -20px;
}

.sub_menu{
    position:relative; border-bottom:1px solid rgba(0,0,0,0.2); letter-spacing:-0.065rem; z-index:55;
    font-size: 1.1rem;
}
.sub_menu.on span a::after{transform:rotate(180deg);}
.sub_menu::after{content:''; display: block; clear: both;}
.sub_menu span a{display: block; height: 54px; line-height: 54px; padding:0 4.5%;}
.sub_menu span a::after{content:''; position:absolute; right: 4.5%; top:50%; margin-top:-6px; display:block; width:12px; height: 12px; background:url(../images/navi_open.png) 50% 50% no-repeat; background-size:100% auto; transition:transform .3s;}
.sub_menu ul{position:absolute; left:0; top:55px; width: 100%; background:#fff; box-shadow:0 2px 2px rgba(0,0,0,0.2); padding:1rem 0; display: none;}
.sub_menu ul li a{display: block; line-height:40px; color:#666; padding:0 0 0 4.5%;}