/* 과산화수소 */

.contentArea>ul {
    margin: 120px 0 0;
    overflow: hidden;
}

.contentArea>ul>li {
    float: left;
    margin-left: 80px;
    width: 560px; height: 320px;
}
.contentArea>ul>li:first-of-type{margin-left: 0;}
.contentArea>ul>li:last-of-type{padding: 120px 0;}

.contentArea>ul>li p {
    font-size: 1.5em;
    margin: 0 0 80px;
    text-align: justify;
}

h4 {
    margin: 120px 0 80px;
    font-size: 2em;
}
.table1 {
    width: 90%;
    margin: 0 auto;
}
.table1 tr {
    height: 100px;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
}

.table1 th {
    width: 23%;
    border: 1px solid #ccc;
    background: #f8f8f8;
    border-left: 0;
    padding: 10px 40px;
    font-size: 1.125em 
}
.table1 td {
    width: 77%;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    padding: 10px 40px;
    font-size: 1.125em
}

.contact {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 120px;
}
.contact tr {
    height: 70px;
}

.contact th {
    width: 15%;
    border: 1px solid #ccc;
    background: #f8f8f8;
    border-bottom: 0;
    border-left: 0;
    padding: 10px 30px;
    font-size: 1.125em;
}
.contact td {
    width: 15%;
    border: 1px solid #ccc;
    border-left: 0;
    padding: 10px 30px;
    font-size: 1.125em;
    text-align: center;
}
.contact th:last-of-type, .contact td:last-of-type{border-right: 0;}
.contact th:nth-of-type(4), .contact td:nth-of-type(4) {width: 20%;}
.contact th:nth-of-type(5), .contact td:nth-of-type(5) {width: 35%;}
