/* 기업소개 본문 영역 */
.tabbox {
    margin: 100px 0 0;
}

.tab ul{}
.tab ul::after{content:''; display: block; clear:both;}
.tab li{float:left; width: 33%;}
.tab li a{
    position:relative; height:70px; line-height:70px; display: block; 
    font-size:1.5em; border:1px solid #ddd; border-left-width:0; 
    text-align:center; color:#333; transition:all .3s
}
.tab li:first-child a{border-left-width:1px;}
.tab li:hover a{color: #0075c1;}
.tab li.current a{color: #0075c1;}
.tab li.current a::before{
    content:''; 
    position:absolute; left:-1px; top:-1px; display:block;
    width: 100%; height: 100%; border:1px solid #0075c1;
}



.tapex h3 {
    margin: 100px 0 0;
    font-size: 2.5em; text-align: center;
}
.tapex>ul {
    overflow: hidden;
    margin: 120px 0 0;
}
.tapex>ul>li {
    float: left; width: 600px; height: 330px; margin: 0 0 120px 0;
}

.tapex>ul>li:nth-of-type(1) {padding: 60px 60px 0; width: 480px; height: 270px;}
.tapex>ul>li:nth-of-type(1) p {margin-top: 30px; font-size: 1.125em; line-height: 1.625em; text-align: justify;}

.tapex>ul>li:nth-of-type(4) ul {width: 600px; height: 330px;}
.tapex>ul>li:nth-of-type(4) ul li {height: 20%;}
.tapex>ul>li:nth-of-type(4) ul li span {display: block; padding: 21px 0;}
.tapex>ul>li:nth-of-type(4) ul li span:nth-of-type(1) {float: left;width: 100px; text-align: center; font-weight: 700; margin-right: 30px;}

.yuhan h3 {
    margin: 100px 0 0;
    font-size: 2.5em; text-align: center;
}
.yuhan>ul {
    overflow: hidden;
    margin: 120px 0 0;
}
.yuhan>ul>li {
    float: left; width: 600px; height: 330px; margin: 0 0 120px 0;
}

.yuhan>ul>li:nth-of-type(1) {padding: 15px 60px 0; width: 480px; height: 315px;}
.yuhan>ul>li:nth-of-type(1) p {margin-top: 30px; font-size: 1.125em; line-height: 1.625em; text-align: justify;}

.yuhan>ul>li:nth-of-type(4) ul {width: 600px; height: 330px; margin-left: 30px;}
.yuhan>ul>li:nth-of-type(4) ul li {height: 25%;}
.yuhan>ul>li:nth-of-type(4) ul li span {display: block; padding: 21px 0;}
.yuhan>ul>li:nth-of-type(4) ul li span:nth-of-type(1) {float: left;width: 100px; text-align: center; font-weight: 700; margin-right: 30px;}


.samyoung h3 {
    margin: 100px 0 0;
    font-size: 2.5em; text-align: center;
}
.samyoung>ul {
    overflow: hidden;
    margin: 120px 0 0;
}
.samyoung>ul>li {
    float: left; width: 600px; height: 330px; margin: 0 0 120px 0;
}

.samyoung>ul>li:nth-of-type(1) {padding: 0 60px 0; width: 480px; height: 330px;}
.samyoung>ul>li:nth-of-type(1) p {margin-top: 30px;font-size: 1.125em; line-height: 1.625em; text-align: justify;}

.samyoung>ul>li:nth-of-type(4) ul {width: 600px; height: 330px; margin-left: 30px;}
.samyoung>ul>li:nth-of-type(4) ul li {height: 25%;}
.samyoung>ul>li:nth-of-type(4) ul li span {display: block; padding: 21px 0;}
.samyoung>ul>li:nth-of-type(4) ul li span:nth-of-type(1) {float: left;width: 100px; text-align: center; font-weight: 700; margin-right: 30px;}





