.menubar {
    overflow: hidden; margin: 100px 0 0;
}
.menubar li {
    float: left; width: 298px; height: 70px; 
    border: 1px solid #ccc; border-right: 0;
    text-align: center; border-collapse: collapse;
    font-size: 1.5em; line-height: 70px;
}
.menubar li:last-child {border-right: 1px solid #ccc;}
.menubar li:hover {background: #0075c1; color: #fff;}
.menubar .current {background: #0075c1; color: #fff;}


.headoffice {
    margin: 120px 0 0 ;
}
    .headoffice h3 {
        font-size: 2.5em; text-align: center;
    }
    .headoffice .headofficeBox {
        margin: 50px 0 0;
        position: relative;
        height: 600px;
    }
        .headofficeBox img {
            position: absolute; left: 0; top: 0;
        }
        .headofficeBox dl {
            display: block; position: absolute; right: 0; bottom: 0;
            width: 580px; height: 300px; background: #fff;
            font-size: 1.125em; overflow: hidden;
            box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, .2);
            padding: 20px 0;            
        }
        .headofficeBox dl dt {
            font-weight: 700; float: left;
            width: 100px; height: 16%; text-align: center;
            margin-bottom: 5px;        
        }
        .headofficeBox dl dd {
            width: 480px; height: 16%; float: right;
            margin-bottom: 5px; 
        }
        .headofficeBox dl dt:nth-of-type(1), .headofficeBox dl dd:nth-of-type(1) {
            height: 36%;
        }
        
    #headofficeMap {
        margin: 120px 0 0;
        width: 1200px; height: 550px; background: red;
    }
